div{
      background-color:blue;
      
      
      
      
}
.blue{
      width:50%;
      height:75%;
      border:25px;
      padding:20px;
      background-color:aliceblue;
      margin-left:25%;
      margin-right:25%;
      margin-top:45px;
}
p{
color:aliceblue;
text-align: center;
padding-bottom:20px;
}
